<section class="container my-5">
    <div class="row">

        <h1 class="pb-4">About Me</h1>
        <div class="col-md-6">
            <p class="lead text-start about_me">Hey homies, thanks for stopping by! The name's Elias. I'm always excited to connect with other
                people who share my passion for programming, music, and art.</p>
            <p class="lead text-start about_me">When it comes to coding, I'm all about finding the most efficient and elegant
                solutions to problems. I love digging deep into complex algorithms and figuring out how to make them
                work seamlessly. And when it comes to frameworks, Express.js is my jam - it's just so versatile and
                powerful.</p>
            <p class="lead text-start about_me">But I'm not all work and no play. Music is a huge part of my life, and I spend a
                lot of my free time playing around with different genres and styles.</p>
        </div>
        <div class="col-md-6">
            <p class="lead text-start about_me">Pink Floyd and Alexander Scriabin
                are my top picks, but I'm always on the lookout for new inspiration. And making my own music is just so
                satisfying - it's like taking all the feelings and ideas in my head and turning them into something
                tangible.</p>
            <p class="lead text-start about_me">And then there's art. Using AI to create artwork is just mind-blowing to me -
                it's like having a whole new toolset at my fingertips. I love experimenting with different techniques
                and seeing what the machine comes up with.</p>
            <p class="lead text-start about_me">So whether you're into coding, music, or art, there's something for you here on
                my blog. Let's explore some new ideas, create some awesome stuff, and have some fun along the way,
                homies!</p>
        </div>
        <div class="text-center">
            <img src="/content/CV.jpg" class="img-fluid cv pb-4" alt="CV" loading="lazy">
            <h1 class="display-6 pt-4" style="font-family: Monoton, serif;">My CV</h1>
        </div>
    </div>
</section>
<style>
    .cv{
        height: 1000px;
        width: auto;
    }
</style>